@{
    ViewBag.Title = "Where To Buy";
    ViewBag.css = new List<string> { "/Content/css/wheretobuy.css" };
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
    List<curtmfg.Customer> onlinedealers = ViewBag.onlinedealers;
    List<curtmfg.DealerTier> tiers = onlinedealers.Select(x => x.DealerTier).Distinct().OrderByDescending(x => x.sort).ToList<curtmfg.DealerTier>();
    List<curtmfg.Models.MapGraphics> localtiers = ViewBag.localtiers;
    int count = 1;
    string dealersearch = ViewBag.dealersearch ?? "";
    List<curtmfg.Models.DealerLocation> localdealers = ViewBag.localdealers ?? new List<curtmfg.Models.DealerLocation>();
}
<link rel="stylesheet" type="text/css" media="print" href="@Url.Content("~/Content/css/directionsprint.css")" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/Scripts/custom/wheretobuy.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/tabs.js")"></script>
<div class="clear"></div>
<ul class="tabs">
    <li><a id="online_tab" href="/#tab=online">Buy Online</a></li>
    <li><a id="local_tab" href="/#tab=local">Buy Local</a></li>
    <li class="clear"></li>
</ul>
<form id="searchmap" action="/WhereToBuy#tab=local" method="get">
    <input type="hidden" name="tab" value="local" />
    <button type="submit" id="dealer-find" class="button">GO</button>
    <label for="dealer-location">
        <input type="text" name="search" id="dealer-location" value="@dealersearch" placeholder="Search For Locations" />
    </label>
    <span class="clear"></span>
</form>

<div id="tab_container">
    <div id="tab_scroll">
        <div class="tab_content" id="online">
            <h2>Buy Online</h2>
            @{
                count = 1;
                foreach (curtmfg.DealerTier tier in tiers) {
                    <section class="dealers typebox_@(count++) @(tier.tier.ToLower())">
                        <h3><img src="/Content/img/smalllogo.png" alt="CURT" />@tier.tier eTailer</h3>
                        <div class="bar"></div>
                        @{
                            List<curtmfg.Customer> dealers = curtmfg.Models.UDF.ShuffleList(onlinedealers.Where(x => x.tier.Equals(tier.ID)).ToList<curtmfg.Customer>());
                            foreach (curtmfg.Customer dealer in dealers) {
                                                <div class="dealer">
                                                    <a href="@dealer.website" class="onlinedealer" data-name="@dealer.name" data-type="online" data-url="@dealer.website">
                                                        <span>@dealer.name</span>
                                                        Click Here to Buy Online
                                                    </a>
                                                </div>
                            }
                        }
                        <div class="clear"></div>
                    </section>
                }
            }
        </div>
        <div class="tab_content" id="local">
            <h2>Buy Local</h2>
            <a href="javascript:void" id="dealer-clear">Reset Map</a>
            <div id="map_canvas" class="notouch"></div>
            <p class="togglelegend">Show / Hide Types</p>
            <div id="toggles">
                @for(int i = 0; i < localtiers.Count; i++) {
                    <div class="toggle">
                        <input type="checkbox" id="toggle_@(localtiers[i].dealertier.ID)" value="@localtiers[i].dealertier.ID" checked="checked" />
                        <div class="togglebox" id="togglebox_@(localtiers[i].dealertier.ID)" data-id="@localtiers[i].dealertier.ID"><span class="active"></span></div>
                        <img src="@localtiers[i].dealertype.MapIcons.Where(x => x.tier.Equals(localtiers[i].dealertier.ID)).Select(x => x.mapicon1).FirstOrDefault()" alt="@localtiers[i].dealertier.tier @localtiers[i].dealertype.label" />
                        <span>@localtiers[i].dealertier.tier @localtiers[i].dealertype.label</span>
                    </div>
                }
                <span class="clear"></span>
            </div>
            @{
                count = 1;
                foreach (curtmfg.Models.MapGraphics level in localtiers) {
                    <section class="dealers typebox_@(count++) @(level.dealertier.tier.ToLower())" id="dealertype_@(level.dealertier.ID)">
                        <h3>
                            <span><img src="/Content/img/smalllogo.png" alt="CURT" /></span>
                            @level.dealertier.tier @level.dealertype.label
                        </h3>
                        <div class="bar"></div>
                        @{
                    List<curtmfg.Models.DealerLocation> typelocations = localdealers.Where(x => x.dealerTier.ID.Equals(level.dealertier.ID)).ToList<curtmfg.Models.DealerLocation>();
                    if (typelocations.Count > 0) {
                        foreach (curtmfg.Models.DealerLocation location in typelocations) {
                                    <div class="dealer" id="location_@(location.locationID)" data-tier="@location.dealerTier.ID">
                                        <p><strong>@location.name</strong><br>
                                            @location.address<br>
                                            @location.city, @location.State.abbr<br>
                                            @location.phone<br>
                                            Distance: @String.Format("{0:0.00}", location.distance) Miles<br>
                                            <a class="getDirections" data-id="@location.locationID" href="/WhereToBuy/Directions/@location.locationID">Get Directions</a>
                                        </p>
                                    </div>
                        }
                    } else {
                                <p class="nodealers">Please search using the form above to find a dealer / installer in your area.</p>
                    }
                        }
                        <span class="clear" id="clearspan_@(level.dealertier.ID)"></span>
                    </section>
                }
                }
        </div>
    </div>
</div>