@{
    curtmfg.user author = ViewBag.author;
    ViewBag.Title = "Blog Author - " + author.fname + " " + author.lname;
    List<string> css = new List<string> { "/Content/css/blog.css" };
    ViewBag.css = css;
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<h3>Blog Author</h3>

@Html.Partial("_BlogNavigation")

<section id="rightContent">
    @if (author.photo != null && author.photo != "") {
        <img src="@author.photo" alt="@author.fname @author.lname" class="authorimg" />
    }
    <h2>@author.fname @author.lname</h2>
    <p class="biography">@author.biography</p>
</section>
<span class="clear"></span>