@{
    string year = ViewBag.year ?? "";
    string make = ViewBag.make ?? "";
    string modelstr = ViewBag.model ?? "";
    string style = ViewBag.style ?? "";
    ViewBag.Title = "Hitch Lookup for " + year + " " + make + " " + modelstr + " " + style;
    ViewBag.css = new List<string> { Url.Content("~/Content/css/hitchLookup.css") };
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
    Dictionary<string, List<curtmfg.Models.APIPart>> classes = ViewBag.classes;
    List<string> descriptions = new List<string>();
    Dictionary<string, curtmfg.Models.APIColorCode> colors = ViewBag.colors;
}
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/hitchResults.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/tabs.js")"></script>
<script type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<input type="hidden" name="year" id="year" value="@year" />
<input type="hidden" name="make" id="make" value="@make" />
<input type="hidden" name="model" id="model" value="@modelstr" />
<input type="hidden" name="style" id="style" value="@style" />
<h4 id="vehicle" class="hasvehicle"><span><span class="yourvehicle">Your Vehicle:</span> <a href="/HitchLookup/Find?year=@ViewBag.year&amp;make=@ViewBag.make&amp;model=@ViewBag.model&amp;style=@ViewBag.style">@ViewBag.year @ViewBag.make @ViewBag.model @ViewBag.style</a><a href="/HitchLookup/Clear" class="clearvehicle" data-home="yes">Clear</a><img style="display: none;" class="clearloading" src="/Content/img/ajax-loader2.gif" alt="Clearing Your Vehicle..." /></span></h4>
<h3>Search Results</h3>

<style type="text/css">
    @foreach (KeyValuePair<string, curtmfg.Models.APIColorCode> color in colors) {
        @("#" + color.Key.ToLower().Replace(" ", "") + "_tab.active" + "{border-bottom: 4px solid rgb(" + color.Value.code.Substring(0, 3) + "," + color.Value.code.Substring(3, 3) + "," + color.Value.code.Substring(6, 3) + ")}")
    }
</style>


<ul class="tabs">
        @{ 
            foreach (KeyValuePair<string, List<curtmfg.Models.APIPart>> hitchClass in classes) {
                <li><a href="/#tab=@(hitchClass.Key.ToLower().Replace(" ", ""))" id="@(hitchClass.Key.ToLower().Replace(" ", ""))_tab">@hitchClass.Key</a></li>
            }
        }
    <li class="clear"></li>
</ul>
<div id="tab_container">
    <div id="tab_scroll">
        <form name="compare" action="@Url.Content("~/HitchLookup/Compare")" method="post">
            @foreach (KeyValuePair<string, List<curtmfg.Models.APIPart>> hitchClass in classes) {
                <div class="tab_content" id="@hitchClass.Key.ToLower().Replace(" ", "")">
                    <div id="@hitchClass.Key.ToLower().Replace(" ", "")" class="classProducts">
                    @foreach (curtmfg.Models.APIPart part in hitchClass.Value) {
                        List<curtmfg.Models.APIAttribute> attributes = part.attributes.Where(x => x.key.ToLower() != "upc").ToList<curtmfg.Models.APIAttribute>();
                        string instructionPath = "";
                        foreach (curtmfg.Models.APIAttribute attribute in part.content) {
                            if (attribute.key.ToLower() == "installationsheet") { instructionPath = attribute.value; };
                        }
                        string fitclass = "";
                        if (part.vehicleID != 0 && ViewBag.vehicleID.ToString() != "") {
                            fitclass = " fit";
                        } else if (ViewBag.vehicleID.ToString() != "" && part.vehicleID == 0) {
                            fitclass = " nofit";
                        } else if (ViewBag.vehicleID.ToString() == "") {
                            fitclass = " novehicle";
                        }
                        <article class="part@(fitclass)" id="part_@(part.partID)">
                            <div class="productImage">
                                <a title="@part.shortDesc" href="/part/@part.partID" class="main_img">
                                    <img class="product_img" alt="Product Image" src="@part.apiimages.getIndex("a").getImage("Grande").getPath()" />
                                </a>
                                <div class="fitinfo @fitclass">
                                    @if (fitclass.Trim() == "fit") {
                                        <img src="/Content/img/fit.png" alt="This part fits your vehicle" />
                                        <span>Fits your vehicle</span>
                                    } else if (fitclass.Trim() == "nofit") {
                                        <img src="/Content/img/nofit.png" alt="This part does not fit your vehicle" />
                                        <span>Does NOT fit your vehicle</span>
                                    } else if (fitclass.Trim() == "novehicle") {
                                        <img src="/Content/img/warning.png" alt="Vehicle Specific Part" />
                                        <span><a href="/HitchLookup" class="fitYourVehicle">Vehicle Specific Part</a></span>
                                    } else {
                                        // images
                                        foreach (KeyValuePair<string, curtmfg.Models.PartImageIndex> imageindex in part.apiimages.images) {
                                            <img class="thumb" data-partid="@part.partID" data-grande="@imageindex.Value.getImage("Grande").getPath()" src="@imageindex.Value.getImage("Tall").getPath()" alt="Thumbnail for Part @part.partID @imageindex.Key"/>
                                        }
                                    }
                                    <span class="clear"></span>
                                </div>
                            </div>
                            <div class="productContent">
                                <header class="contentHeader">
                                    <a href="/part/@part.partID" class="productTitle">@part.shortDesc</a>
                                </header>
                                <p class="shortDescription">
                                    @if (part.content.Any(x => x.key.ToLower().Equals("listdescription"))) {
                                        string desc = part.content.Where(x => x.key.ToLower().Equals("listdescription")).Select(x => x.value).FirstOrDefault();
                                        @desc
                                    }
                                </p>
                                @if (attributes != null && attributes.Count > 0) {
                                    <table class="partattributes">
                                        <thead>
                                            <tr><th colspan="2">Product Details</th></tr>
                                        </thead>
                                        <tbody>
                                            @for (int x = 0; x < 4; x++) {
                                                if ((attributes.Count - 1) >= x) {
                                                    <tr><td class="label">@attributes[x].key</td><td>@attributes[x].value</td></tr>
                                                }
                                            }
                                            @if (part.vehicleAttributes != null && part.vehicleAttributes.Count > 0) {
                                                for (int i = 0; i < 2; i++) {
                                                    if ((part.vehicleAttributes.Count - 1) >= i) {
                                                        <tr><td class="label">@part.vehicleAttributes[i].key</td><td>@part.vehicleAttributes[i].value</td></tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                                <span class="clear"></span>
                                <a href="/part/@part.partID" class="viewdetails">View Details ></a>
                            </div>
                            <div class="productRight">
                                <a href="/WhereToBuy/" class="buyOnline button" id="@part.partID">Where To Buy</a>
                                <p class="msrp">MSRP <span>@String.Format("{0:c}", part.listPrice)</span></p>
                                @if (instructionPath != "") {
                                    <a class="instructions" target="_blank" href="@instructionPath">
                                        <span>Instructions</span>
                                        <img src="@Url.Content("~/Content/img/pdf.png")" width="20" />
                                    </a>
                                }
                                @if (part.attributes.Any(x => x.key == "UPC")) {
                                    <p class="upc">UPC <span>@part.attributes.Find(x => x.key == "UPC").value</span></p>
                                }
                                @if (part.priceCode != null && part.priceCode > 0) {
                                    <p class="priceCode">PC <span>@part.priceCode</span></p>
                                }
                                <div class="social">
                                    <div class="partreviews">
                                        <div class="starrating@((part.reviews.Count() == 0) ? " norating" : "")">
                                            @if (part.reviews.Count() > 0) {
                                                <span class="stars" style="width: @((part.averageReview / 5) * 100)%;"></span>
                                            } else {
                                                <span>No Reviews</span>
                                            }
                                        </div>
                                        <a class="readReview" href="/part/@part.partID#tab=reviews">Read All Reviews</a>
                                        <span class="clear"></span>
                                    </div>

                                    <a href="javascript:mailPart(@part.partID)" title="Mail Part" class="mail"><img alt="Mail Part" src="@Url.Content("~/Content/img/gmail.png")" style="display: none;" /></a>
                                    <div class="twitter-tweet">
                                        <iframe scrolling="no" frameborder="0" allowTransparency="true" src="//platform.twitter.com/widgets/tweet_button.html?count=none&amp;url=@Url.Content("~/part/" + part.partID)"></iframe>
                                    </div>
                                    <div class="facebook-like">
                                        <iframe src="//www.facebook.com/plugins/like.php?href=@Url.Content("~/part/" + part.partID)&amp;send=false&amp;layout=standard&amp;width=48&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20&amp;appId=154903937934243"  scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                                    </div>
                                    <div class="gplus1">
                                        <g:plusone size="medium" annotation="none" href="@Url.Content("~/part/" + part.partID)"></g:plusone>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </article>
                    }

                    </div>
                </div>
            }
        </form>
    </div>
</div>
<div class="clear"></div>

<!-- Mail Part -->
<div id="shadowbox_mail" style="display:none">
    <div style="background-color: White; height: 100%">
        <form method="post" action="" id="mailForm">
            <h3 style="margin: 0px 10px;padding-top: 5px;">Message Preview</h3>
            <textarea id="messagePreview" name="messagePreview" cols="40" rows="5"></textarea><br />
            <input type="text" name="fromName" id="fromName" placeholder="Enter your name" /><br />
            <input type="text" name="fromEmail" id="fromEmail" placeholder="Enter your e-mail" /><br />
            <input type="text" name="toName" id="toName" placeholder="Enter recipient's name" /><br />
            <input type="text" name="toEmail" id="toEmail" placeholder="Enter recipient's e-mail" /><br />
            <textarea cols="40" rows="5" name="comments" id="comments" placeholder="Enter additional comments"></textarea><br />
            <input type="submit" name="btnReset" id="btnReset" value=" " />
            <input type="submit" name="btnMail" id="btnMail" value=" " />
        </form>
    </div>
</div>