@{
    List<string> css = new List<string>();
    if (ViewBag.css != null) {
        css = ViewBag.css;
    }
    string metadescription = "CURT Manufacturing";
    if (ViewBag.metadescription != null & ViewBag.metadescription != "") {
        metadescription = ViewBag.metadescription;
    }
    string title = "CURT Manufacturing";
    if (ViewBag.Title != null & ViewBag.Title != "") {
        title = ViewBag.Title + " | " + title;
    }
}

<meta charset="utf-8" />
@if (Request.Url.Host != "www.curtmfg.com") {
    <meta name="robots" content="none" />
}
<meta name="description" content ="@metadescription" />
<meta name="google-site-verification" content="S1ZofeWSUu8VaM8vmlJ3WXKn4CbtlTtnovYUGGzbTNs" />
<title>@title</title>
<link rel="shortcut icon" href="/CURT_logo_4clr_24.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/Content/css/master.css")" />
<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/Content/css/device.css")" />
<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/Content/css/video-js.css")" />
<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/Content/css/shadowbox.css")" />
<link rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" />
@foreach (string sheet in css) {
	<link rel="stylesheet" type="text/css" media="all" href="@sheet" />
}
@Html.Partial("_IE")
@Html.Partial("_AnalyticsTop")
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/modernizr.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.imagesloaded.min.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/jquery.hoverIntent.minified.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/custom/tooltip.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/shadowbox.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/custom/jquery.cycle.all.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/custom/jquery.dataTables.min.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/jquery.tmpl.min.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/custom/skeleton.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/custom/hitch_lookup.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/custom/scripts.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/custom/randomize.js")"></script>
<script type="text/javascript" defer src="@Url.Content("~/Scripts/jquery.animate-shadow-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/jquery.popup.js")"></script>
