<header id="header">
	<a id="topLogo" href="@Url.Content("~")"><img src="@Url.Content("~/Content/img/logo.png")" height="57" width="372" alt="CURT Manufacturing" /></a>
    @Html.Partial("_SiteSearch")
    @Html.Partial("_MainMenu")
    @Html.Partial("_SubNav")
</header>