@{
    List<string> css = (ViewBag.css != null) ? ViewBag.css : new List<string>();
    css.Add(Url.Content("~/Content/css/internal.css"));
    ViewBag.css = css;
}
<!DOCTYPE html>
<html class="no-js">
<head>
    @Html.Partial("_Head")
</head>

<body>
    <div id="container">
        @Html.Partial("_InternalHeader")
        <section id="page_content" class="content">
            @RenderBody()
        </section>
        @Html.Partial("_Sitemap")
        @Html.Partial("_Footer")
    </div>
    @Html.Partial("_AnalyticsBottom")
</body>
</html>
