@using curtmfg.Models;
@{
    List<APIPart> parts = ViewBag.parts;
}
<!-- Product Results -->
@foreach (APIPart part in parts) {
    List<curtmfg.Models.APIAttribute> attributes = part.attributes.Where(x => x.key.ToLower() != "upc").ToList<curtmfg.Models.APIAttribute>();
    string instructionPath = "";
    string appGuidePath = "";
    foreach (curtmfg.Models.APIAttribute attribute in part.content) {
        if (attribute.key.ToLower() == "installationsheet") { instructionPath = attribute.value; };
        if (attribute.key.ToLower() == "appguide") { appGuidePath = attribute.value; };
    }
    string fitclass = "";
    if (ViewBag.category != null && ViewBag.category.vehicleSpecific && part.vehicleID != null && part.vehicleID != 0 && ViewBag.vehicleID != "") {
        fitclass = " fit";
    } else if (ViewBag.category != null && ViewBag.category.vehicleSpecific && ViewBag.vehicleID != "") {
        fitclass = " nofit";
    } else if (ViewBag.category != null && ViewBag.category.vehicleSpecific && ViewBag.vehicleID == "") {
        fitclass = " novehicle";
    }
    <article class="part@(fitclass)" id="part_@(part.partID)">
        <div class="productImage">
            <a title="@part.shortDesc" href="/part/@part.partID" class="main_img">
                <img class="product_img" alt="Product Image" src="@part.apiimages.getIndex("a").getImage("Grande").getPath()" />
            </a>
            <div class="fitinfo @fitclass">
                @if (fitclass.Trim() == "fit") {
                    <img src="/Content/img/fit.png" alt="This part fits your vehicle" />
                    <span>Fits your vehicle</span>
                } else if (fitclass.Trim() == "nofit") {
                    <img src="/Content/img/nofit.png" alt="This part does not fit your vehicle" />
                    <span>Does NOT fit your vehicle</span>
                } else if (fitclass.Trim() == "novehicle") {
                    <img src="/Content/img/warning.png" alt="Vehicle Specific Part" />
                    <span><a href="/HitchLookup" class="fitYourVehicle">Vehicle Specific Part</a></span>
                } else {
                    // images
                    foreach (KeyValuePair<string, PartImageIndex> imageindex in part.apiimages.images) {
                        <img class="thumb" data-partid="@part.partID" data-grande="@imageindex.Value.getImage("Grande").getPath()" src="@imageindex.Value.getImage("Tall").getPath()" alt="Thumbnail for Part @part.partID @imageindex.Key"/>
                    }
                }
                <span class="clear"></span>
            </div>
        </div>
        <div class="productContent">
            <header class="contentHeader">
                <a href="/part/@part.partID" class="productTitle">@part.shortDesc</a>
            </header>
            <p class="shortDescription">
                @if (part.content.Any(x => x.key.ToLower().Equals("listdescription"))) {
                    string desc = part.content.Where(x => x.key.ToLower().Equals("listdescription")).Select(x => x.value).FirstOrDefault();
                    @desc
                }
            </p>
            @if (attributes != null && attributes.Count > 0) {
                <table class="partattributes">
                    <thead>
                        <tr><th colspan="2">Product Details</th></tr>
                    </thead>
                    <tbody>
                        @for (int x = 0; x < 4; x++) {
                            if ((attributes.Count - 1) >= x) {
                                <tr><td class="label">@attributes[x].key</td><td>@attributes[x].value</td></tr>
                            }
                        }
                        @if (part.vehicleAttributes != null && part.vehicleAttributes.Count > 0) {
                            for (int i = 0; i < 2; i++) {
                                if ((part.vehicleAttributes.Count - 1) >= i) {
                                    <tr><td class="label">@part.vehicleAttributes[i].key</td><td>@part.vehicleAttributes[i].value</td></tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            }
            <span class="clear"></span>
            <a href="/part/@part.partID" class="viewdetails">View Details ></a>
        </div>
        <div class="productRight">
            <a href="/WhereToBuy/" class="buyOnline button" id="@part.partID">Where To Buy</a>
            <p class="msrp">MSRP <span>@String.Format("{0:c}", part.listPrice)</span></p>
            @if (appGuidePath != "") {
                <a class="instructions" target="_blank" href="@appGuidePath">
                    <span>Fit Your Vehicle - Application Guide</span>
                    <img src="@Url.Content("~/Content/img/pdf.png")" width="20" />
                </a>
            }
            @if (instructionPath != "") {
                <a class="instructions" target="_blank" href="@instructionPath">
                    <span>Instructions</span>
                    <img src="@Url.Content("~/Content/img/pdf.png")" width="20" />
                </a>
            }
            @if (part.attributes.Any(x => x.key == "UPC")) {
                <p class="upc">UPC <span>@part.attributes.Find(x => x.key == "UPC").value</span></p>
            }
            @if (part.priceCode != null && part.priceCode > 0) {
                <p class="priceCode">PC <span>@part.priceCode</span></p>
            }
            <div class="social">
                <div class="partreviews">
                    <div class="starrating@((part.reviews.Count() == 0) ? " norating" : "")">
                        @if (part.reviews.Count() > 0) {
                            <span class="stars" style="width: @((part.averageReview / 5) * 100)%;"></span>
                        } else {
                            <span>No Reviews</span>
                        }
                    </div>
                    <a class="readReview" href="/part/@part.partID#tab=reviews">Read All Reviews</a>
                    <span class="clear"></span>
                </div>

                <a href="javascript:mailPart(@part.partID)" title="Mail Part" class="mail"><img alt="Mail Part" src="@Url.Content("~/Content/img/gmail.png")" style="display:none;" /></a>
                <div class="twitter-tweet">
                    <iframe scrolling="no" frameborder="0" allowTransparency="true" src="//platform.twitter.com/widgets/tweet_button.html?count=none&amp;url=@Url.Content("~/part/" + part.partID)"></iframe>
                </div>
                <div class="facebook-like">
                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.curtmfg.com%2Fpart%2F@(part.partID)&amp;send=false&amp;layout=standard&amp;width=48&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20&amp;appId=154903937934243"  scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="gplus1">
                    <g:plusone size="medium" annotation="none" href="@Url.Content("~/part/" + part.partID)"></g:plusone>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </article>
}
<!-- End Product Results -->