@using curtmfg.Models;
@{
    curtmfg.Models.APIPart part = ViewBag.part;
    ViewBag.Title = "CURT Manufacturing - " + part.shortDesc;
    List<string> css = new List<string>();
    css.Add(Url.Content("~/Content/css/hitch.css"));
    css.Add(Url.Content("~/Content/css/demo_table.css"));
    ViewBag.css = css;
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
    string year = ViewBag.year;
    string make = ViewBag.make;
    string modelstr = ViewBag.model;
    string style = ViewBag.style;
    string colorcode = ViewBag.colorcode;
    List<curtmfg.Models.Category> breadcrumbs = ViewBag.breadcrumbs;
    List<curtmfg.Models.FullVehicle> vehicles = ViewBag.vehicles;
    List<curtmfg.Models.APIPart> accessories = ViewBag.accessories;
    List<curtmfg.Models.APIPart> connectors = ViewBag.connectors;
    List<curtmfg.Models.APIVideo> videos = part.videos.OrderByDescending(x => x.isPrimary).ThenBy(x => x.typeID).ToList<APIVideo>();
    Dictionary<string, string> attributes = new Dictionary<string, string>();
    foreach (curtmfg.Models.APIAttribute attribute in part.attributes) {
        try {
            attributes.Add(attribute.key, attribute.value);
        } catch { }
    }
    List<string> description = new List<string>();
    List<string> notes = new List<string>();
    List<string> bullets = new List<string>();
    curtmfg.Models.APIVideo installVideo = videos.Where(x => x.type.ToLower().Equals("installation video")).FirstOrDefault<APIVideo>();
    string instructionPath = "";
    string appGuidePath = "";
    List<curtmfg.Models.APIReview> reviews = part.reviews;
    foreach (curtmfg.Models.APIAttribute attribute in part.content) {
        if (attribute.key.ToLower() == "note") { notes.Add(attribute.value); };
        if (attribute.key.ToLower() == "bullet") { bullets.Add(attribute.value); };
        if (attribute.key.ToLower() == "description") { description.Add(attribute.value); };
        if (attribute.key.ToLower() == "installationsheet") { instructionPath = attribute.value; };
        if (attribute.key.ToLower() == "appguide") { appGuidePath = attribute.value; };
    }
    List<string> errors = ViewBag.errors ?? new List<string>();
    bool showInstallSheet = (instructionPath != "") ? true : false;
    bool showAppGuide = (appGuidePath != "") ? true : false;
    bool showInstallation = (showInstallSheet || (part.vehicleAttributes.Count > 0 && part.vehicleID != 0) || (installVideo != null && installVideo.videoID != 0)) ? true : false;
    bool activeStatus = (part.status == 800 || part.status == 900);
}
@{
    if (colorcode != null && colorcode != "") {
		<style type="text/css">
			#tab_container #tab_scroll .tab_content .subcategory:hover {border-color: rgb(@colorcode);}
			#page_gradient {
				background: -moz-linear-gradient(top, rgba(@colorcode,0.45) 0%, rgba(@colorcode,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(@colorcode,0.45)), color-stop(100%,rgba(@colorcode,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(@colorcode,0.45) 0%,rgba(@colorcode,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(@colorcode,0.45) 0%,rgba(@colorcode,0) 100%); /* Opera11.10+ */
				background: -ms-linear-gradient(top, rgba(@colorcode,0.45) 0%,rgba(@colorcode,0) 100%); /* IE10+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73@(ViewBag.hexcode.Replace("#", ""))', endColorstr='#00@(ViewBag.hexcode.Replace("#", ""))',GradientType=0 ); /* IE6-9 */
				background: linear-gradient(top, rgba(@colorcode,0.45) 0%,rgba(@colorcode,0) 100%); /* W3C */
			}
		</style>
    }
}

<script type="text/javascript" src="@Url.Content("~/Scripts/custom/hitch.js")"></script>
<script type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
<script type="text/javascript">
$(function(){
    if(@errors.Count() > 0) {
        currentTab = "reviews";
        pushLocation(currentTab);
        $('#addreview').show();
    }
});
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/tabs.js")"></script>
<div id="page_gradient"></div>
@if (part.partID != 0) {
    if (ViewBag.vehicleID != "") {
        <h4 id="vehicle" class="hasvehicle"><span><span class="yourvehicle">Your Vehicle:</span> <a href="/HitchLookup/Find?year=@ViewBag.year&amp;make=@ViewBag.make&amp;model=@ViewBag.model&amp;style=@ViewBag.style">@ViewBag.year @ViewBag.make @ViewBag.model @ViewBag.style</a><a href="/HitchLookup/Clear" class="clearvehicle" data-home="no">Clear</a><img style="display: none;" class="clearloading" src="/Content/img/ajax-loader2.gif" alt="Clearing Your Vehicle..." /></span></h4>
    } else if (breadcrumbs.Count > 0 && breadcrumbs[0].vehicleSpecific) {
        <h4 id="vehicle"><img class="warning" src="/Content/img/warning.png" alt="This part is vehicle specific" /><span>This part is vehicle specific and we don't know your vehicle. <a href="/HitchLookup" class="fitYourVehicle" id="fitYourVehicle">Tell us your vehicle!</a></span></h4>
    }

    if (breadcrumbs.Count() > 1) {
        <p class="breadcrumbs">
            @for (int i = breadcrumbs.Count() - 1; i >= 0; i--) {
                <a href="@Url.RouteUrl("CategoryWithID", new { id = breadcrumbs[i].catID, name = breadcrumbs[i].catTitle.Replace('/', '|') })">@breadcrumbs[i].catTitle</a> <text>></text>
            }
            @part.shortDesc
        </p>
    }
    if (breadcrumbs.Count > 0 && breadcrumbs[0].vehicleSpecific && ViewBag.vehicleID != "" && part.vehicleID == 0) {
        <div class="fitinfo">
            <img src="/Content/img/nofit.png" alt="This part does not fit your vehicle" />
            <span>Does NOT fit your searched vehicle</span>
        </div>
    } else if (breadcrumbs.Count > 0 && breadcrumbs[0].vehicleSpecific && ViewBag.vehicleID != "" && part.vehicleID != 0) {
        <div class="fitinfo">
            <img src="/Content/img/fit.png" alt="This part fits your vehicle" />
            <span>Fits your searched vehicle</span>
        </div>
    }
    <div id="image_box">
        @if (part.apiimages.images.Count > 0) {
            foreach (KeyValuePair<string, PartImageIndex> imageindex in part.apiimages.images) {
                <a class="mainImg" id="hitchimg_@(imageindex.Key)" href="@imageindex.Value.getImage("Venti").getPath()" rel="shadowbox[Product]">
                    <img src="@imageindex.Value.getImage("Grande").getPath()" alt="Part @part.partID @imageindex.Key" />
                </a>
            }
        } else {
            <a class="mainImg" id="hitchimg_a" href="/Content/img/noimage.png" rel="shadowbox[Product]">
                <img src="/Content/img/noimage.png" alt="No Image Available" />
            </a>
        }

        @if (part.apiimages.images.Count > 1) {
            <div id="smImages">
                @foreach (KeyValuePair<string, PartImageIndex> imageindex in part.apiimages.images) {
                    <a id="hitchthumb_@(imageindex.Key)" href="@imageindex.Value.getImage("Venti").getPath()">
                        <img src="@imageindex.Value.getImage("Tall").getPath()" alt="Thumbnail for Part @part.partID @imageindex.Key"/>
                    </a>
                }
                <span class="clear"></span>
            </div>
        }
    </div>

    <div id="hitchInfo">
        <header>
            <h2>@part.shortDesc</h2>
            <p>
                @if (attributes.ContainsKey("Receiver Tube Size")) {
                    <span>Receiver Tube Size: <span>@attributes["Receiver Tube Size"]</span></span>
                }
                @if (part.pClass != "") {
                    <span>Class: <span>@part.pClass</span></span>
                }
                @if (attributes.ContainsKey("UPC")) {
                    <span>UPC: <span>@attributes["UPC"]</span></span>
                }
                @if (part.priceCode > 0) {
                    <span>PC: <span>@part.priceCode</span></span>
                }
            </p>
            <div id="averageReview">
                <div class="starrating@((part.reviews.Count() == 0) ? " norating" : "")">
                    @if (part.reviews.Count() > 0) {
                        <span class="stars" style="width: @((part.averageReview / 5) * 100)%;"></span>
                    } else {
                        <span>No Reviews</span>
                    }
                </div>
                <a class="writeReview" href="@Url.Content("~/part/" + part.partID + "/#tab=reviews")">Write a Review</a>
            </div>
            <div id="social">
                <a href="javascript:mailPart(@part.partID)" title="Mail Part" class="mail"><img alt="Mail Part" src="@Url.Content("~/Content/img/gmail.png")" style="display:none" /></a>
                <div class="twitter-tweet">
                    <iframe seamless="seamless" src="//platform.twitter.com/widgets/tweet_button.html?count=none&amp;url=@Url.Content("~/part/" + part.partID)" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="facebook-like">
                    <iframe seamless="seamless" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.curtmfg.com%2Fpart%2F@(part.partID)&amp;send=false&amp;layout=standard&amp;width=48&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=35&amp;appId=154903937934243" scrolling="no" frameborder="0" style="border:none; overflow:hidden; allowTransparency="true"></iframe>
                </div>
                <div class="gplus1">
                    <g:plusone size="medium" annotation="none" href="@Url.Content("~/part/" + part.partID)"></g:plusone>
                </div>
                <span class="clear"></span>
            </div>
            <span class="clear"></span>
        </header>
        <div id="hitchleft">
            @if (activeStatus) {
            <a href="/WhereToBuy/" class="buyOnline button" id="@(part.partID)">Where To Buy</a>
            <p id="msrp">MSRP <span title="Check Out Our Dealers' Great Prices!" class="tip">@String.Format("{0:c}", part.listPrice)</span></p>
            }
            <span class="clear"></span>
            @if (bullets.Count() > 0) {
                <ul>
                    @foreach (string bullet in bullets) {
                        if (bullet.Trim() != "") {
                            <li>@bullet</li>
                        }
                    }
                </ul>
            }
            @if (notes.Count() > 0) {
                <p class="notetitle">Notes:</p>
                <ul>
                    @foreach (string note in notes) {
                        if (note.Trim() != "") {
                            <li>@note</li>
                        }
                    }
                </ul>
            }
            @*@if (videos.Any(x => x.isPrimary.Equals(true))) {
                curtmfg.Models.APIVideo primaryvid = videos.Where(x => x.isPrimary.Equals(true)).FirstOrDefault();
                <a rel="shadowbox[video];width=600;height=364" title="@primaryvid.type for Part #@part.partID" href="http://www.youtube.com/v/@primaryvid.youTubeVideoID&hl=en&fs=1&rel=0&autoplay=1" id="primaryVideo" data-partid="@part.partID"><img src="@primaryvid.typeicon" alt="View the @primaryvid.type" /></a>
            }*@
        </div>
        @if (showAppGuide) {
            <table id="appguide">
                <thead>
                    <tr>
                        <th colspan="2">Fit Your Vehicle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label">Application Guide</td>
                        <td>
                            <a id="pdf" target="_blank" href="@appGuidePath">
                                <span>Download</span>
                                <img src="@Url.Content("~/Content/img/pdf.png")" width="20" alt="pdf" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        @if (showInstallation) {
            <table id="installation">
                <thead>
                    <tr>
                        <th colspan="2">Installation</th>
                    </tr>
                </thead>
                <tbody>
                    @if (showInstallSheet) {
                        <tr>
                            <td class="label">Instruction Sheet</td>
                            <td>
                                <a id="pdf" target="_blank" href="@instructionPath">
                                    <span>Download</span>
                                    <img src="@Url.Content("~/Content/img/pdf.png")" width="20" alt="pdf" />
                                </a>
                            </td>
                        </tr>
                    }
                    @if (installVideo != null && installVideo.videoID != 0) {
                        <tr>
                            <td colspan="2" class="installvideo">
                                <a id="showVideo" rel="shadowbox[installationvideo];width=600;height=364" title="Installation Video for Part #@part.partID" href="http://www.youtube.com/v/@installVideo.youTubeVideoID&hl=en&fs=1&rel=0&autoplay=1" data-partid="@part.partID">
                                    <img src="http://i.ytimg.com/vi/@installVideo.youTubeVideoID/mqdefault.jpg" alt="Installation Video" />
                                    <span class="overlay" data-videoid="@installVideo.youTubeVideoID"><span class="playbutton"></span></span>
                                </a>
                            </td>
                        </tr>
                    }
                    @if (part.vehicleAttributes.Count > 0 && part.vehicleID != 0) {
                        foreach (curtmfg.Models.APIAttribute vpattr in part.vehicleAttributes) {
                            <tr>
                                <td class="label">@vpattr.key</td>
                                <td>
                                    @vpattr.value
                                    @if (vpattr.key.ToLower().Contains("install")) {
                                        <span title="Estimate is based on professional installation. Novice installers - see 'How to' below." class="tip star">*</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        <table id="details">
            <thead>
                <tr>
                    <th colspan="2">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<string, string> attribute in attributes) {
                    <tr>
                        <td class="label">@attribute.Key</td>
                        <td>@attribute.Value</td>
                    </tr>
                }
            </tbody>
        </table>
        <span class="clear"></span>
    </div>
    <div style="clear:both"></div>
                if (Request.QueryString["message"] != null && Request.QueryString["message"] != "") {
        <p class="success">@Request.QueryString["message"]</p>
                }

    <div id="content">
        <ul class="tabs">
            @if (part.pClass != "" && part.pClass.ToLower() != "wiring") {
                <li><a id="electrical_tab" href="/part/@(part.partID)#tab=electrical">Electrical</a></li>
            }
            @if (vehicles.Count() > 0) {
                <li><a id="vehicles_tab" href="/part/@(part.partID)#tab=vehicles">Vehicles</a></li>
            }
            @if (accessories.Count() > 0) {
                <li><a id="accessories_tab" href="/part/@(part.partID)#tab=accessories">Accessories</a></li>
            }
            <li><a id="reviews_tab" href="/part/@(part.partID)#tab=reviews">Reviews</a></li>
            @if (videos.Count > 0) {
                <li><a id="howto_tab" href="/part/@(part.partID)#tab=howto">Videos</a></li>
            }
            <li class="clear"></li>
        </ul>
        <div id="tab_container">
            <div id="tab_scroll">
                @if (part.pClass != "" && part.pClass.ToLower() != "wiring") {
                    <div class="tab_content" id="electrical">
                        @if (part.vehicleID != 0 && connectors.Count() > 0) {
                            foreach (curtmfg.Models.APIPart connector in connectors) {
                                string connInstallSheet = connector.content.Where(x => x.key.ToLower().Equals("installationsheet")).Select(x => x.value).FirstOrDefault();
                                
                                <article class="part fit" id="part_@(connector.partID)">
                                    <div class="productImage">
                                        <a title="@connector.shortDesc" href="/part/@connector.partID" class="main_img">
                                            <img class="product_img" alt="Product Image" src="@connector.apiimages.getIndex("a").getImage("Grande").getPath()" />
                                        </a>
                                        <div class="fitinfo fit">
                                            <img src="/Content/img/fit.png" alt="This part fits your vehicle" />
                                            <span>Fits your vehicle</span>
                                            <span class="clear"></span>
                                        </div>
                                    </div>
                                    <div class="productContent">
                                        <header class="contentHeader">
                                            <a href="/part/@connector.partID" class="productTitle">@connector.shortDesc</a>
                                        </header>
                                        <p class="shortDescription">
                                            @if (connector.content.Any(x => x.key.ToLower().Equals("listdescription"))) {
                                                string desc = connector.content.Where(x => x.key.ToLower().Equals("listdescription")).Select(x => x.value).FirstOrDefault();
                                                @desc
                                            }
                                        </p>
                                        @if (connector.attributes != null && connector.attributes.Count > 0) {
                                            <table class="partattributes">
                                                <thead>
                                                    <tr><th colspan="2">Product Details</th></tr>
                                                </thead>
                                                <tbody>
                                                    @for (int x = 0; x < 4; x++) {
                                                        if ((connector.attributes.Count - 1) >= x) {
                                                            <tr><td class="label">@connector.attributes[x].key</td><td>@connector.attributes[x].value</td></tr>
                                                        }
                                                    }
                                                    @if (connector.vehicleAttributes != null && connector.vehicleAttributes.Count > 0) {
                                                        for (int i = 0; i < 2; i++) {
                                                            if ((connector.vehicleAttributes.Count - 1) >= i) {
                                                                <tr><td class="label">@connector.vehicleAttributes[i].key</td><td>@connector.vehicleAttributes[i].value</td></tr>
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                    <div class="productRight">
                                        <a href="/WhereToBuy/" class="buyOnline button" id="@connector.partID">Where To Buy</a>
                                        <p class="msrp">MSRP <span>@String.Format("{0:c}", connector.listPrice)</span></p>
                                        @if (connInstallSheet != "") {
                                            <a class="instructions" target="_blank" href="@connInstallSheet">
                                                <span>Instructions</span>
                                                <img src="@Url.Content("~/Content/img/pdf.png")" width="20" />
                                            </a>
                                        }
                                        <div class="social">
                                            <div class="partreviews">
                                                <div class="starrating@((connector.reviews.Count() == 0) ? " norating" : "")">
                                                    @if (connector.reviews.Count() > 0) {
                                                        <span class="stars" style="width: @((connector.averageReview / 5) * 100)%;"></span>
                                                    } else {
                                                        <span>No Reviews</span>
                                                    }
                                                </div>
                                                <a class="readReview" href="/part/@connector.partID#tab=reviews">Read All Reviews</a>
                                                <span class="clear"></span>
                                            </div>

                                            <a href="javascript:mailPart(@connector.partID)" title="Mail Part" class="mail"><img alt="Mail Part" src="@Url.Content("~/Content/img/gmail.png")" style="display:none;" /></a>
                                            <div class="twitter-tweet">
                                                <iframe scrolling="no" frameborder="0" allowTransparency="true" src="//platform.twitter.com/widgets/tweet_button.html?count=none&amp;url=@Url.Content("~/part/" + connector.partID)"></iframe>
                                            </div>
                                            <div class="facebook-like">
                                                <iframe src="//www.facebook.com/plugins/like.php?href=@Url.Content("~/part/" + connector.partID)&amp;send=false&amp;layout=standard&amp;width=48&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20&amp;appId=154903937934243"  scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                                            </div>
                                            <div class="gplus1">
                                                <g:plusone size="medium" annotation="none" href="@Url.Content("~/part/" + connector.partID)"></g:plusone>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </article>
                            }
                        } else if (part.vehicleID != 0) {
                            <article class="part fit">
                                <div class="productImage">
                                    <a title="No Connector / Needs Converter" href="/Category/193/Taillight%20Converters" class="main_img">
                                        <img class="product_img" style="width:100%;height: auto;" alt="Product Image" src="@Url.Content("~/Content/img/noconnimage.jpg")" />
                                    </a>
                                    <div class="fitinfo">
                                        <span class="clear"></span>
                                    </div>
                                </div>
                                <div class="productContent">
                                    <header class="contentHeader">
                                        <a href="/Category/193/Taillight%20Converters" class="productTitle">Taillight Converter</a>
                                    </header>
                                    <p class="shortDescription">3 wire system, requires converter</p>
                                    <a href="/Category/193/Taillight%20Converters" class="readMore">See All Converters ></a>
                                </div>
                                <span class="clear"></span>
                            </article>
                        } else if (part.vehicleID == 0 && ViewBag.vehicleID != "") {
                            <p class="electrical-nofit">
                                <img class="warning" src="/Content/img/warning.png" alt="This part is vehicle specific" />
                                <span>Electrical Connectors are vehicle specific.<br />
                                See what fits your <a href="/HitchLookup/Find?year=@ViewBag.year&amp;make=@ViewBag.make&amp;model=@ViewBag.model&amp;style=@ViewBag.style">@ViewBag.year @ViewBag.make @ViewBag.model @ViewBag.style</a>.</span>
                                <span class="clear"></span>
                            </p>
                        } else {
                            <p class="electrical-nofit">
                                <img class="warning" src="/Content/img/warning.png" alt="This part is vehicle specific" />
                                <span>Electrical Connectors are vehicle specific.<br />
                                <a href="/HitchLookup" class="fitYourVehicle">Tell us your vehicle!</a></span>
                                <span class="clear"></span>
                            </p>
                        }
                    </div>
                }
                @if (vehicles.Count() > 0) {
                    <div class="tab_content" id="vehicles">
                        <table id="vehicleTable">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Style</th>
                                    <th>Install Time</th>
                                    <th>Other Hitches</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (curtmfg.Models.FullVehicle vehicle in vehicles) {
                                    string searchUrl = HttpUtility.UrlEncode(vehicle.year + "//" + vehicle.make + "/" + vehicle.model + "/" + vehicle.style);
                                    string it = "";
                                    foreach (curtmfg.Models.APIAttribute attribute in vehicle.attributes) {
                                        if (attribute.key.ToLower().Contains("install")) {
                                            it = attribute.value;
                                        }
                                    }
                                    
                                    <tr>
                                        <td>@vehicle.year</td>
                                        <td>@vehicle.make</td>
                                        <td class="right">@vehicle.model</td>
                                        <td class="right">@vehicle.style</td>
                                        <td class="right">@it</td>
                                        <td class="center">
                                            <form method="get" action="@Url.Content("~/HitchLookup/find")">
                                                <input type="hidden" name="year" value="@vehicle.year" />
                                                <input type="hidden" name="make" value="@vehicle.make" />
                                                <input type="hidden" name="model" value="@vehicle.model" />
                                                <input type="hidden" name="style" value="@vehicle.style" />
                                                <input type="submit" class="btnSubmit" value="" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (vehicles.Count > 0) {
                            <div id="vehiclePagination" data-page="1" data-pages="@(Math.Ceiling(vehicles.Count / 10.0))">
                                <div id="vehiclePrev"></div>
                                @if (Math.Ceiling(vehicles.Count / 10.0) > 1) {
                                    <span>Page <span id="vehiclePage">1</span> of <span id="vehiclePages">@(Math.Ceiling(vehicles.Count / 10.0))</span></span>
                                }
                                <span>@vehicles.Count Total Vehicles</span>
                                <div id="vehicleNext"></div>
                                <span class="clear"></span>
                            </div>
                        }
                    </div>
                }
                @if (accessories.Count() > 0) {
                    <div class="tab_content" id="accessories" style="text-align:center">
                        @foreach (curtmfg.Models.APIPart accessory in accessories) {
                            <a class="accessory" href="@Url.RouteUrl("Part", new { id = accessory.partID })">
                                <span class="accessimage"><img src="@accessory.apiimages.getIndex("a").getImage("Grande").getPath()" alt="@accessory.shortDesc" /></span>
                                <span class="accessname"><strong>@accessory.shortDesc</strong><span><strong>MSRP </strong>@String.Format("{0:c}", accessory.listPrice)</span></span>
                            </a>
                        }
                        <span class="clear"></span>
                    </div>
                }
                <div class="tab_content" id="reviews">
                    <div id="addreview">
                        <h4>Submit Your Review</h4>
                        @if (errors.Count() > 0) {
                            <ul class="error">
                                @foreach (string error in errors) {
                                    <li>@error</li>
                                }
                            </ul>
                        }
                        <form id="reviewForm" action="/HitchLookup/AddReview/@part.partID" method="post">
                            <input type="hidden" id="partID" value="@part.partID" />
                            <ul class="formlist">
                                <li>
                                    <label for="email">Rating</label>
                                    <input type="hidden" name="rating" id="rating" value="@((ViewBag.rating != null) ? ViewBag.rating : 0)" />
                                    <div id="rate">
                                        <span id="star_1" class="star"></span>
                                        <span id="star_2" class="star"></span>
                                        <span id="star_3" class="star"></span>
                                        <span id="star_4" class="star"></span>
                                        <span id="star_5" class="star"></span>
                                    </div>
                                </li>
                                <li>
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" placeholder="Enter your Name" value="@((ViewBag.name != null) ? ViewBag.name : "")" />
                                </li>
                                <li>
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" placeholder="Enter your Email" value="@((ViewBag.email != null) ? ViewBag.email : "")" />
                                </li>
                                <li>
                                    <label for="subject">Subject <span class="req">*</span></label>
                                    <input type="text" name="subject" id="subject" placeholder="Enter a Subject" value="@((ViewBag.subject != null) ? ViewBag.subject : "")" required />
                                </li>
                                <li>
                                    <label for="review_text">Review <span class="req">*</span></label>
                                    <textarea name="review_text" id="review_text" placeholder="Enter your Review" required>@((ViewBag.review_text != null) ? ViewBag.review_text : "")</textarea>
                                </li>
                                <li id="reviewrecaptcha">
                                    @Html.Raw(ReCaptcha.GenerateCaptcha())
                                </li>
                                <li id="submitreview">
                                    <input type="submit" value="Submit" class="submit" /> <a href="#addReview" id="addReviewCancel">Cancel</a>
                                </li>
                            </ul>
                            <span class="clear"></span>
                        </form>
                    </div>
                    <a href="#reviewForm" class="writeReview button">Write a Review</a>
                    <span class="clear"></span>
                    @if (reviews.Count() > 0) {
                        foreach (curtmfg.Models.APIReview review in reviews) {
                            <div class="review">
                                <p class="reviewTitle">@review.subject</p>
                                <div class="starrating" style="float: left;">
                                    <span class="stars" style="width: @((review.rating / 5.0) * 100)%;"></span>
                                </div>
                                <span class="clear"></span>
                                <p>@review.review_text</p>
                            </div>
                        }
                    } else {
                        <p class="noreviews">No Reviews. Be the first person to review this product.</p>
                    }
                </div>
                @if (videos.Count > 0) {
			        <div class="tab_content" id="howto">
                        @foreach (curtmfg.Models.APIVideo vid in videos) {
                            <div class="partvideo">
                                <p class="videoType">@vid.type</p>
                                <iframe src="http://www.youtube.com/embed/@vid.youTubeVideoID?rel=0" allowfullscreen></iframe>
                            </div>
                        }
			        </div>
                }
                <span class="clear"></span>
            </div>
        </div>
    </div>
} else {
    <h2>Part was not found. Try again later.</h2>
}
<!-- Mail Part -->
<div id="shadowbox_mail" style="display:none">
    <div style="background-color: White; height: 100%">
        <form method="post" action="/Part/@part.partID" id="mailForm">
            <h3 style="margin: 0px 10px;padding-top: 5px;">Message Preview</h3>
            <textarea id="messagePreview" name="messagePreview" cols="40" rows="5"></textarea><br />
            <input type="text" name="fromName" id="fromName" placeholder="Enter your name" /><br />
            <input type="text" name="fromEmail" id="fromEmail" placeholder="Enter your e-mail" /><br />
            <input type="text" name="toName" id="toName" placeholder="Enter recipient's name" /><br />
            <input type="text" name="toEmail" id="toEmail" placeholder="Enter recipient's e-mail" /><br />
            <textarea cols="40" rows="5" name="comments" id="comments" placeholder="Enter additional comments"></textarea><br />
            <input type="submit" name="btnReset" id="btnReset" value=" " />
            <input type="submit" name="btnMail" id="btnMail" value=" " />
        </form>
    </div>
</div>

<div id="success-message" style="display: none;"></div>